/* Contenedor del texto */
.text-containerNdvi {
  margin-bottom: 18px;
  font-family: 'Calibri', sans-serif; 
  color: #003333; /* Verde oscuro suave para el texto */
  font-size: 0.9em;
  background-image: linear-gradient(to bottom, #d1e7d1, #4dcba1); /* Degradado suave de verde claro a verde más brillante */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Título del texto */
.text-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #02877f; /* Verde brillante y suave para los títulos */
  margin-bottom: 10px;
}

/* Descripción del texto */
.text-description {
  font-size: 1em;
  color: #009966; /* Verde brillante y suave para las descripciones */
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Justificación de texto en párrafos */
.text-containerNdvi p {
  text-align: justify;
}

/* Centrando el título */
.text-containerNdvi h2 {
  text-align: center;
}

/* Efecto de enlaces dentro del contenedor */
.text-containerNdvi a {
  color: #009966; /* Verde brillante para los enlaces */
  text-decoration: none;
}

.text-containerNdvi a:hover {
  color: #02877f; /* Verde más oscuro en hover */
  text-decoration: underline;
}


